<header>
  <h1>Kitten Rescue Centre</h1>
</header>
<div id="nav">
  <ul>
    <li><%= link_to 'Cats', home_path %></li>
    <li><%= link_to 'Breeds', breeds_path %></li>
    <li><%= link_to 'About Us', about_path %></li>
    <li><%= link_to 'Contact Us', contact_path %></li>
  </ul>
  <%= form_tag search_results_path, method: :get do %>
    <%= text_field_tag :search_keywords %>
    <%= submit_tag 'Search' %>
  <% end %>
  <br>
</div>