<div class="about">
<h2><%= @aboutpage.header %></h2>
<div class="image"><%= image_tag @aboutpage.image %></div>
<div class="p1"><p><%= @aboutpage.paragraph %></p></div>
<div class="p2"><p><%= @aboutpage.paragraph2 %></p></div>
  <p><strong><%= link_to "Back to Cats!", home_path %></strong></p>
</p></div>